@import "src/assets/styles/_variables";

.hiring-portal-container {
  min-height: 100vh;
  padding: 2% 7vw;
  background: #fafafa;
  max-width: 1700px;
  margin: auto;

  @media only screen and (max-width: 400px) {
    padding: 2% 5vh;
  }
}

.hiring-portal-wrapper {
  background: #fafafa;
}


.hiring-portal-upper-section-details {
  background: rgb(230, 230, 230);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.hiring-portal-upper-section-subtitle {
  margin-top: 15px;
}

.hiring-portal-upper-section-filter {
  background: #E6E6E6;
  border-radius: 10px;
  height: 60px;
  padding: 0px 25px;
  display: flex;
  cursor: pointer;
}

.hiring-portal-popover {
  background: #f1f1f1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1px ;
  // max-width: calc(1200px - 25*2px);
  padding: 38px 25px 32px;
  // width: calc(80vw - 62px);
  z-index: 1000000000;
  max-width: 1800px ;
  //transition: all 0.3s ease-in-out;
  //transition-duration: 150ms;
  //transform: scaleY(1);
}

.MuiAutocomplete-popper {
  z-index: 10000000000 !important;
}

.hiring-portal-upper-section-filters {
  padding: 10px 30px;
  border-radius: 10px 0 10px 10px;
  background: rgb(230, 230, 230);
  display: flex;
}


.partners-picture {
  max-width: 100% ;
  max-height: 150px ;
  object-fit: contain ;
}
.hiring-grid .swiper-slide {
  display: flex;
  align-items: center;
  padding: 3vh 0 5vh 0;
}

.cycles-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative ;
}

.cycles-autocomplete {
  // overflow: hidden;
  transition: .3s ease-out; ;
  background-color: white;
  position: absolute;
  top: 50px;
  z-index: 100;
  padding: 15px ;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.cycles-autocomplete {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
.cycles-autocomplete .MuiYearCalendar-root::-webkit-scrollbar {
  width: 10px;
}

.cycles-autocomplete .MuiYearCalendar-root::-webkit-scrollbar-track {
  background: #ffffff;
}

.cycles-autocomplete .MuiYearCalendar-root::-webkit-scrollbar-thumb {
  background-color: #643A7A;
  border-radius: 30px;
  border: 3px solid #ffffff;
  cursor: pointer;
  transition: .3s ease-out;
}

// .cycles-autocomplete .MuiYearCalendar-root::-webkit-scrollbar-thumb:hover {
//   background-color: #6a3b83;
//   transform: scaleX(1.5);
//   width: 150px;
//   position: relative;
//   z-index: 100 ;
// }


.cycles-autocomplete .MuiYearCalendar-root .MuiYearCalendar-root {
  max-height: 200px ;
}


@media only screen and (max-width: 600px) {
  .hiring-portal-cards-container {
    .MuiGrid-root {
      width: 100%;
    }
  }
}

.MuiInputLabel-root {
  &.Mui-focused {
    color: rgba(0, 0, 0, 0.6) !important;
  }
}

.MuiChip-root {
  height: 25px !important;
}

.hiring-portal-intro-container {
  margin-top: 26px;
}
.cycles-autocomplete-closed {
  display: none;
}

.react-tiny-popover-container {
  //transition:  all 0.3s ease-in-out;
  //transition-duration: 150ms;
  position: relative;
}
.year-specified {
  position: absolute;
  top: 2px;
  right: -60px;
}

@media screen and (max-width: 425px) {
  .hiring-portal-container {
    padding: 2% 4vw;
  }
}